.FormMovie {
  width: 500px;
  margin: 0 auto;
  text-align: left;
}

.FormMovie h1 {
  text-align: center;
}

.FormMovie .form-data {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.FormMovie .form-data label {
  display: inline-block;
  width: 75px;
  margin-right: 10px;
  text-align: right;
}

.FormMovie .form-data input:not([type="submit"]), .FormMovie .form-data textarea {
  flex-grow: 1;
}
